.drumBox {
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
    justify-content: center;
    align-items: center;
}

#high {
    margin-bottom: 150px;
}

.drum {
  box-sizing: border-box;
  border-radius: 50%;
  background: linear-gradient(to right bottom, #C9C9C9, #F5F5F5);
  width: 100px;
  height: 80px;
  border: 2px solid #AFB2B8;
  border-bottom-color: #666666;
  border-left-color: #666666;
  border-top-width: 1px;
  border-bottom-width: 3px;
  position: relative;
  margin-left: 25px;
}

.drum:before {
  content:'';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 70px;
  z-index: -1;
  background: linear-gradient(to right,
    rgba(109,0,25,1) 0%,
    rgba(107,8,29,1) 16%,
    rgba(185, 185, 185, 1) 18%,
    rgba(124,0,27,1) 20%,
    rgba(147,0,34,1) 38%,
    rgba(200,200,200,1) 40%,
    rgba(143,2,34,1) 42%,
    rgba(143,2,34,1) 59%,
    rgba(230,230,230,1) 61%,
    rgba(143,2,34,1) 63%,
    rgba(143,2,34,1) 79%,
    rgba(235,235,235,1) 81%,
    rgba(143,2,34,1) 83%,
    rgba(169,3,41,1) 100%);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.drum:after {
  content:'';
  position: absolute;
  top: 50%;
  left: -1px;
  right: -1px;
  border-radius: 50%;
  height: 69px;
  border: 2px solid #AFB2B8;
  border-bottom-color: #666666;
  border-left-color: #666666;
  border-top-width: 1px;
  border-bottom-width: 3px;
  z-index: -2;
}