<div class="jumbotron">
  <h1>Drum Kit</h1>
  <p>A simple drum kit created using angular, bootstrap, javascript, and css.</p>
</div>
<div class="drumBox">
  <div (keypress)="keypressDrumSoundOne()" (click)="playDrumSoundOne()" class="drum">
  </div>
  <div (click)="playDrumSoundTwo()" class="drum" id="high">
  </div>
  <div (click)="playDrumSoundThree()" class="drum">
  </div>
  <div (click)="playDrumSoundFour()" class="drum" id="high">
  </div>
  <div (click)="playDrumSoundFive()" class="drum">
  </div>
</div>